<div class="task">
    <div class="card mb-3 border-secondary">
        <div class="card-header bg-light">{{scenario?.name}} <span class="rounded-circle border border-5 border-info"> {{scenario?.campaign}}</span>
            <div *ngFor= "let reward_i of scenario?.reward; index as i;" >
            <app-icon [icon]="reward_i"></app-icon>
            </div>
        </div>
        <div class="card-body">
            @if (!isFolded){
                 @for(task of scenario?.tasks; track task){
                    <app-task [inner]="task"></app-task>
                }
            }
            <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="material-icons">control_point</i> New Task</button>
            <app-icon [icon]="fold" (click)="toggleFold()"></app-icon>
            <app-icon [icon]="finish"></app-icon>
            <span style = "cursor: pointer" class="material-icons ">
                more_vert
            </span>
        </div>
    </div>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <app-add-task (saveTask)="createTask($event)"></app-add-task>
            </div>
            
        </div>
    </div>
</div>
</div>