<p>cards works!</p>
<div>Icon Component:
<app-icon [icon]= "reward"></app-icon></div>
<div>Icon Editable Component:
<app-icon-editable [icon]= "reward"></app-icon-editable></div>
<div>Reward Type input Component
<app-rt-input>  </app-rt-input></div>
<div>Task Component:
<app-task [inner] = "inner"></app-task></div>
<Div>Add task Component
<app-add-task></app-add-task></Div>
<div> Scenario Component
<app-scenario [scenario] = "scen"></app-scenario></div>
<div> Board Component
<app-board></app-board></div>
<div>Left Menu
<app-left-menu></app-left-menu></div>